.card{
    height: 515px ;
    width: 240px ;
}
.cardBody{
    background-color:rgb(244, 165, 155);
}
.imagen{
    width: 220px;
    height: 250px ;
}
.nombre{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;

}
.precio{
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(69, 223, 240);
}
.cardFooter{
    background-color: rgb(244, 165, 155);
}
@media (max-width:320px){
    .card{
        height: 470px;
        width: 200px;
    }
    .imagen{
        width: 190px;
        height: 250px;
    }
    .nombre{
        font-size: 17px;
    }
    .precio{
        font-size: 17px;
    }
}