.contenedorCard{
    display: grid;
    grid-template-columns: repeat(3, 225px);
    grid-template-rows: repeat(3, 290);
    column-gap: 100px;
    row-gap: 10px;
    justify-content: center;
}